/*
 * Custom Skin Sample
 *
 * This file shows an example of a custom skin.  It targets any menu that has the Skin set to "None"
 *
 * Copy this to custom/custom.css to apply this custom skin
 *
 * For a copy of this file with comments for each style, see https://gist.github.com/sevenspark/24a087689db958670ed5
 */
/* UberMenu - Copyright 2011-2016, SevenSpark */




.ubermenu .ubermenu-target-with-image>.ubermenu-target-text {
   color: #2BA9E2;
}

.ubermenu .ubermenu-target-description {
    font-size: 82%;
    font-weight: 400;
   line-height: 1em!important;

}

@media only screen and (max-width:1200px){
  .ubermenu .ubermenu-target-description {
display: none;}
}

.ubermenu .ubermenu-submenu .ubermenu-column{
    background-color: #3a434c;
}


#menu-item-413 span::after{display: none!important;
}

#menu-item-414 a::after{display: none!important;
}

header#top nav ul li {
    float: left;
}
header#top nav ul li a:hover, #header-outer:not([data-lhe="animated_underline"]) header#top nav ul li a:hover {
    color: #5195E3;
}

.DD_title.ubermenu-tab{font-size: 49px!important;
    line-height: 49px!important;
    letter-spacing: -1px;
    font-style: italic;}
.DD_itemtitle a span {font-size: 23px!important; line-height: 33px!important;
 font-style: normal!important;}

.ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target:after {
    position: absolute;
    right: 50%;
    top: 70%;
  }

.ubermenu-sub-indicators .ubermenu-item-415.ubermenu-has-submenu-drop>.ubermenu-target:after{
  right:43%!important;
}

.ubermenu-skin-none {
  font-size: 14px;
  color: #888888;
}
.ubermenu-skin-none .ubermenu-target {
  color: #555555;
}
.ubermenu-skin-none .ubermenu-target-description {
  color: #aaaaaa;
}
.ubermenu-skin-none.ubermenu-responsive-toggle {
  background: #222222;
  color: #eeeeee;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.ubermenu-skin-none.ubermenu-responsive-toggle:hover {
  background: #111111;
  color: #ffffff;
}
.ubermenu-skin-none {
  border: none;
  background: #222222;
}
.ubermenu-skin-none .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target,
.ubermenu-skin-none .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target,
.ubermenu-skin-none .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target {
  color: #ffffff;
  background: none;
}
.ubermenu-skin-none .ubermenu-item.ubermenu-item-level-0 > .ubermenu-highlight {
  color: #ffffff;
  background: transparent;
}
.ubermenu-skin-none.ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-target {
  background: #222222;
}
.ubermenu-skin-none .ubermenu-item-level-0 > .ubermenu-target {
  font-weight: bold;
  color: #071c31;
  text-transform: uppercase;
  border-left: none;

}
body:not(.rtl) .ubermenu-skin-none.ubermenu-horizontal .ubermenu-item-level-0:first-child > .ubermenu-target {
  box-shadow: none;
}
.ubermenu-skin-none .ubermenu-item-level-0:hover > .ubermenu-target,
.ubermenu-skin-none .ubermenu-item-level-0.ubermenu-active > .ubermenu-target {
  background: none;
  color: #ffffff;
}
.ubermenu-skin-none .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target {
  color: #071c31;
}
.ubermenu-skin-none .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target:hover {
  color: black;
}
.ubermenu-skin-none .ubermenu-submenu.ubermenu-submenu-drop {
  background: #3a434c;
    color:white;
}

.ubermenu-skin-none.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
  border-top: none;
}
/*dropdown bar bg*/
.ubermenu-skin-none .ubermenu-tab-content-panel {
 background: #fff;
}
.ubermenu-skin-none .ubermenu-submenu,
.ubermenu-skin-none .ubermenu-submenu .ubermenu-target {
  color: #ffffff;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-highlight {
  color: #4d90fe;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-target:hover,
.ubermenu-skin-none .ubermenu-submenu .ubermenu-active > .ubermenu-target {
  color: #071c31!important;
  background-color: white!important;

}



/*Second level transition state*/
.ubermenu-skin-none .ubermenu-submenu .ubermenu-target:hover,
.ubermenu-skin-none .ubermenu-submenu > .ubermenu-target
{transition: background-color .5s!important;
  -webkit-transition: background-color .5s!important;
  -o-transition: background-color .5s!important;
}

.ubermenu-skin-none .ubermenu-submenu .ubermenu-target > .ubermenu-target-description {
  color: #aaaaaa;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-active > .ubermenu-target > .ubermenu-target-description {
  color: #666666;
}
/*second level menu*/
.ubermenu-skin-none .ubermenu-submenu .ubermenu-item-header > .ubermenu-target {
  color: #fcfcfc!important;
  font-size:19px;
  letter-spacing: normal!important;
}

.ubermenu-skin-none .ubermenu-submenu .ubermenu-item-header > .ubermenu-target:hover {
  color: #4d90fe!important;
}

.ubermenu-skin-none .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target {
  border-bottom: 1px solid #e9e9e9;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-item-header > .ubermenu-target:hover {
  color: #222222;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-current-menu-item > .ubermenu-target {
  color: #222222;
  background: transparent;

  }

/*first level transition state*/
.ubermenu-skin-none .ubermenu-submenu .ubermenu-tab > .ubermenu-target{
  color:#ffffff!important;
 transition: all .5s!important;
  -webkit-transition: all .5s!important;
  -o-transition: all .5s!important;
}



/*first level hover*/
.ubermenu-nojs.ubermenu-skin-none .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target,
.ubermenu-skin-none .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {
  background-color: #e2e7ec!important;
  color: white!important;
  /*font-size: 101%!important;*/

}
.ubermenu-skin-none .ubermenu-tabs-group,
.ubermenu-skin-none .ubermenu-tab > .ubermenu-target,
.ubermenu-skin-none .ubermenu-tab-content-panel {
  border-color: #3A434C;
    background-color: #031221;
}
.ubermenu-skin-none .ubermenu-submenu-drop {
  border-bottom-width: 3px;
}
